#root.fullW.fullH
	#title.center
		h1 #{user.title}
	#progress
		#progress_bar
			span#progress_text 12:23 / 23:35
	#new
		button#new_btn + New
	#todo-title
		h2.center Todo
	#todo.scrollY
		ul#todo_ul.listV
	#done-title
		h2.center Done
	#done.scrollY
		ul#done_ul.listV
	#footer.center
		include _footer.pug